* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f3f3f3;
  color: #111;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px 0;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo {
  font-size: 28px;
  font-weight: bold;
}

.nav-links a {
  text-decoration: none;
  color: black;
  margin-left: 25px;
  font-size: 14px;
}

.nav-links .active {
  background-color: black;
  color: white;
  padding: 10px 16px;
  border-radius: 6px;
}